{# templates/account/password_reset_done.html #}
{% extends 'guest_base.html' %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset Done" %} - Resume Builder{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 450px;">
        <div class="card-body text-center">
            <h2 class="card-title mb-4">{% trans "Password Reset" %}</h2>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="mb-3">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            <p><a href="{% url 'account_login' %}" class="btn btn-primary">{% trans "Back to Login" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}